---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";

import { getI18n } from "../i18n/";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout title={i18n.SEO_TITLE}>
  <Header
    title={i18n.SEO_TITLE}
    home={i18n.NAVBAR_HOME}
    contact={i18n.NAVBAR_CONTACT}
    button={i18n.NAVBAR_BUTTON_GET_STARTED}
    lang={i18n.LANG}
  />
  <main>
    <Hero
      name={i18n.SEO_TITLE}
      title={i18n.HOME_TITLE}
      description={i18n.HOME_DESCRIPTION}
      button={i18n.CONTACT_TITLE}
      subtitle={i18n.HOME_SUBTITLE}
    />
    <Features
      FEATURES={i18n.FEATURES}
      title={i18n.FEATURES_TITLE}
      description={i18n.FEATURES_DESCRIPTION}
      subtitle={i18n.FEATURES_SUBTITLE}
      button={i18n.NAVBAR_BUTTON_GET_STARTED}
      lang={i18n.LANG}
    />
    <!-- <Testimonials
      title={i18n.TESTIMONIALS_TITLE}
      description={i18n.TESTIMONIALS_DESCRIPTION}
      TESTIMONIALS={i18n.TESTIMONIALS}
      subtitle={i18n.TESTIMONIALS_SUBTITLE}
    /> -->
    <!-- <Newsletter /> -->
  </main>
  <Footer 
    title={i18n.FOOTER_TITLE} description={i18n.FOOTER_DESCRIPTION}     info_description={i18n.FORM_INFO_DESCRIPTION}
    info_email={i18n.FORM_INFO_EMAIL}
    info_email_text={i18n.FORM_INFO_EMAIL_TEXT}
    info_call={i18n.FORM_INFO_CALL}
    info_call_text={i18n.FORM_INFO_CALL_TEXT}
    info_visit={i18n.FORM_INFO_VISIT}
    info_visit_text={i18n.FORM_INFO_VISIT_TEXT} 
  />
</Layout>
